.link-container{
  width: 35vw;
  min-width: 15em;
  max-width: 85vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.15em;
  padding-right: 0.15em;
  border: 1px solid black;
  border-radius: 0.25em;
}
  
.link-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}