:root{
  --text-color-default: black;
  --bg-color-default: white;
  --aux-color: #797979;
}

.App {
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

a {
  color: var(--text-color-default);
}


.main-conatainer {
  padding-top: 1em;
  border: 0.5px solid red;
  min-width: 90%;
  height: 100%;
}

.greedy-container {
  height: 100%;
  width: 100%;
}

.name-text{
  z-index: 2;
  transform: translate(0,-1.5em);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.5em;
  color: white;
  background-color: black;
}

.title-pic-img{
  max-height: 10em;
  border-radius: 50%;
  background-color: var(--aux-color);
  /* border: 0.5px solid red; */
}