.App {
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.main-conatainer {
  padding-top: 1em;
  border: 0.5px solid red;
  min-width: 90%;
  height: 100%;
}

.name-text{
  z-index: 2;
  transform: translate(0,-1.5em);
  color: white;
  background-color: black;
}

.title-pic-img{
  max-height: 10em;
  border-radius: 50%;
  border: 0.5px solid red;
}

.link-container{
  min-width: 35vw;
  max-width: 85vw;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 0.15em;
  padding-right: 0.15em;
  border: 1px solid black;
  border-radius: 0.25em;
}

.link-text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}